TasksPaneWidget {

    TaskBar {
        padding-left: 1;
        padding-right: 1;
        width: 100%;

        .checkboxes {
            width: 5fr;
            align: right middle;

            .column { align: right middle; }
        }

        .actions {
            width: 3fr;
            align: right middle;

            Button {
                width: 9;
                margin-left: 1;
            }
        }
    }

    TaskRow {
        TaskButtons {
            width: 1fr;
            margin-right: 1;

            .actions {
                align: right middle;

                TaskButton {
                    margin-left: 1;
                    min-width: 8;
                    width: 8;
                }
            }
        }
    }
}
